.yeon-sung-regular {
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
  }
/* 배경 이미지 */
/* html {
    background: url('images/main.jpg') no-repeat center fixed;  
    background-size: cover;
} */

/* 배경 동영상 */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: none;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;

    cursor: pointer;
    outline: none;
}

#web-info{
    position: absolute;
    top: 30vh;
    left: 20vh;
    
    width: 60vh;
    height: 50vh;
    font-size: 20px;
    color: white;
}

.search-form{
    /* background-color: red; */
    position: absolute;
    top:20vh;
    right: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 55vh;
    height: 70vh;
}
body{
    margin: 0;
}

/* 구해봐요 서울의 방 위치 고정 */
.custom-font{
    position: absolute;
    top: 10vh;
    left: 20vh;
    font-size: 50px;
    color: white;
}

/* 입력창 */
.input-form{
    border-radius: 8px;
    border: 1px solid rgb(255, 177, 255);
    padding: 5px;
    background-color: white;
    text-align: center;
    width: 45vh;
    font-size: 15px;
    transition: all 1s;
    margin-bottom: 10px;
}

.input-form:hover {
    cursor: pointer;
    font-size: 17px;
    background-color: rgb(255, 177, 255);
    border:1px solid white;
    transition: all 0.5s, background-color 1.5s;
}

/* 유저가 선택한 위치 */
.user-select-form{
    background-color: white;
    width: 43.5vh;
    height: 40vh;
    border-radius: 8px;
    border: 1px solid rgb(255, 177, 255);
    padding: 5px;
    transition: all 0.5s;
    margin-bottom: 10px;
}
.select-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background-color: white;
    border-radius: 8px;
}
.select-form:hover{
    cursor: pointer;
    background-color: lightcoral;
    transition: all 0.5s;
}

#search:hover{
    font-size: 30px;
    transition: all 1s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}