.yeon-sung-regular {
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
}
/* 배경 이미지 */
/* html {
    background: url('images/main.jpg') no-repeat center fixed;  
    background-size: cover;
} */

/* 배경 동영상 */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-video__content {
height: 100%;
width: 100%;
object-fit: cover;
}

#web-info{
    position: absolute;
    top: 5%;
    left: 13vh;
    width: 60vh;
    height: 50vh;
    display: flex;
    font-size: 30px;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
}

#map {
    width:65%;
    height:85%;
    left:65vh;
    top:8vh;
}

/* 그리드 레이아웃 설정 */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 세로 방향으로 3개의 칸 */
    grid-template-rows: 1fr; 
    height: 100vh; 
    align-items: center;
    justify-items: center; 
    background-color: transparent;
}

/* search-form */
.search-form {
    position: absolute; 
    grid-column: 1 / -1; 
    border-radius: 8px;
    top: 8%;
    width: 30%; 
    height: 85%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
}

/* 입력창 */
.input-form {
    border-radius: 8px;
    border: 1px solid rgb(255, 177, 255);
    padding: 5px;
    background-color: white;
    text-align: center;
    width: 50vh;
    font-size: 15px;
    transition: all 1s;
    margin-bottom: 10px;
}

.input-form:hover {
    cursor: pointer;
    font-size: 17px;
    border: 1px solid white;
    transition: all 0.5s, background-color 1.5s;
}

/* 유저가 선택한 위치 */
.user-select-form {
    background-color: white;
    width: 45vh;
    height: 80vh;
    border-radius: 8px;
    border: 1px solid rgb(255, 177, 255);
    padding: 5px;
    transition: all 0.5s;
    margin-bottom: 10px;
    overflow: auto;
}

/* 선택된 폼 */
.select-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background-color: white;
    border-radius: 8px;
}

.select-form:hover {
    cursor: pointer;
    background-color: lightcoral;
    transition: all 0.5s;
}